*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  

#container{
    max-width: 70%;
    margin: 0 auto;
}

#container-card{

    display: flex;
    flex-wrap: wrap;

}
.card{
width: calc(100% / 3);
border: solid 2px red;
border-radius: 10%;

}
img{
    width: 100%;
border-radius: 10%;

}